.ai-image-generator {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 20px;
  gap: 30px;
}

.header {
  font-size: 70px;
  font-weight: 500;
  padding-bottom: 30px;
}

.header span {
  color: #de1889;
  font-weight: 600;
}

.img-loading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.search-box {
  display: flex;
  width: 100%;
  max-width: 1000px;
  height: 95px;
  justify-content: space-around;
  align-items: center;
  border-radius: 50px;
  background: #1f3540;
  margin-bottom: 20px;
}

.search-input {
  flex: 1;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 18px;
  color: white;
  padding-left: 35px;
}

.search-input::placeholder {
  color: #999;
}

.generate-btn {
  width: 300px;
  height: 85px;
  font-size: 20px;
  border-radius: 50px;
  background: #de1889;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-bar {
  width: 0px;
  height: 8px;
  background: #de1889;
  transition: width 1s linear;
}

.loading-bar-full {
  width: 100%;
  height: 8px;
  background: #de1889;
  transition: width 1s linear;
}

.loading-text {
  font-size: 18px;
  color: #de1889;
}

@media only screen and (max-width: 600px) {
  .ai-image-generator {
    margin-top: 40px;
    margin-bottom: 10px;
  }

  .header {
    font-size: 40px;
    padding-bottom: 20px;
  }

  .search-box {
    width: 90%;
    max-width: none;
  }

  .generate-btn {
    width: 100%;
  }
}

.aspect-ratio-selection {
  display: flex;
  gap: 10px;
}

.aspect-ratio {
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  background-color: #1f3540;
  color: white;
}

.aspect-ratio.selected {
  background-color: #de1889;
}


