.checkout-page {
    width: 50%;
    margin: 0 auto;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .checkout-page h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .checkout-page label {
    display: block;
    margin-top: 20px;
  }
  
  .checkout-page input[type="text"],
  .checkout-page input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 5px;
  }
  
  .checkout-page button[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
  }
  
  .checkout-page button[type="submit"]:hover {
    background-color: #45a049;
  }